.button {
    background: grey;
    border: 0.3em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    border-radius: 0.5em;
    font-size: 1rem;
}

.button:hover {
    color: rgb(58, 32, 32);
}

.button:active {
    color: #470000;
}