main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    border: 1px solid;
    min-width: 250px;
    max-width: 100%;
    height: 200px;
    margin: 20px;
}

#linear_one{
    background: linear-gradient(to top, #f6Efd2, red);
}

#linear_two{
    background: linear-gradient(to right, #f6Efd2, red);
}

#linear_three{
    background: linear-gradient(to left, #f6Efd2, red);
}

#linear_four{
    background: linear-gradient(to top,red,red,white,white,red,red);
}
    

#linear_five{
    background: linear-gradient(to right, red,blue,white,red);
}

#radial_one{
    background: radial-gradient(at center center,#ADD8E6, blue);
}

#radial_two{
    width: 500px;
    background: radial-gradient(ellipse at center,#ADD8E6, blue);
}

#radial_three{
    background: radial-gradient(circle farthest-corner at 50px 50px, #ADD8E6 0%, blue 15%);
}

#radial_four{
    background: radial-gradient(circle at center, #000000 5%, #ffffff 8%, #ffffff 10%, #08aa00 15%);
}

#repeating_one{
    background: repeating-linear-gradient(0deg, #000000 3%, #000000 3%, #ffffff 6%, #ffffff 6%) ;
}

#repeating_two{
    background: repeating-linear-gradient(45deg, #ff0000 3%, #ff0000 4%, #ffffff 4%, #ffffff 5%);
}

#repeating_three{
    background: repeating-radial-gradient(circle farthest-corner at center center, #000000 3%, #000000 3%, #ffffff 8%, #ffffff 8%);
}
